@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}

.bg {
  background-image: url(/images/bg.jpg);
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.spatial {
  background: rgba(253, 253, 253, 0.382);
  backdrop-filter: blur(15px);
}

.active:hover {
  background: gray;
  color: white;
  border-radius: 50%;
  size: 0.5rem;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  /* display: flex; */
  /* color: #c0c0c0; */
  /* font-size: 1.1rem; */
}
